---
- name: Add deadsnakes PPA for Python {{ open_cinema.python_version }}
  ansible.builtin.apt_repository:
    repo: ppa:deadsnakes/ppa
    state: present
    update_cache: yes
  when: ansible_facts["distribution"] == 'Ubuntu'

- name: Install Python and system dependencies (Ubuntu)
  ansible.builtin.apt:
    update_cache: true
    name:
      - python{{ open_cinema.python_version }}
      - python{{ open_cinema.python_version }}-venv
      - python{{ open_cinema.python_version }}-dev
      - python3-pip
      - git
      - libpulse-dev
    state: present
  when: ansible_facts["distribution"] == 'Ubuntu'

- name: Install Python and system dependencies (Raspberry Pi)
  ansible.builtin.apt:
    update_cache: true
    name:
      - python{{ open_cinema.python_version }}
      - python{{ open_cinema.python_version }}-venv
      - python3-pip
      - git
      - libpulse-dev
    state: present
  when: ansible_facts["distribution"] in ['Debian', 'Raspbian']

- name: Create application directory
  ansible.builtin.file:
    path: "{{ open_cinema.app_path }}"
    state: directory
    owner: "{{ open_cinema.user }}"
    group: "{{ open_cinema.group }}"
    mode: '0755'

- name: Create log directory
  ansible.builtin.file:
    path: /var/log/open-cinema
    state: directory
    owner: "{{ open_cinema.user }}"
    group: "{{ open_cinema.group }}"
    mode: '0755'

- name: Clone Open Cinema repository
  ansible.builtin.git:
    repo: "https://github.com/{{ open_cinema.repo }}.git"
    dest: "{{ open_cinema.app_path }}"
    version: "v{{ open_cinema.version }}"
    force: yes
  become_user: "{{ open_cinema.user }}"
  when: open_cinema.install_from_local is not defined or not open_cinema.install_from_local

- name: Synchronize local Open Cinema source
  ansible.posix.synchronize:
    src: "{{ open_cinema.local_source_path | default('../..') }}/"
    dest: "{{ open_cinema.app_path }}"
    delete: yes
    rsync_opts:
      - "--exclude=.git"
      - "--exclude=__pycache__"
      - "--exclude=*.pyc"
      - "--exclude=.venv*"
      - "--exclude=venv"
      - "--exclude=db.sqlite3"
      - "--exclude=.ansible"
      - "--exclude=.idea"
      - "--exclude=.vscode"
      - "--exclude=node_modules"
  become: false
  delegate_to: localhost
  when: open_cinema.install_from_local is defined and open_cinema.install_from_local

- name: Set ownership of application directory
  ansible.builtin.file:
    path: "{{ open_cinema.app_path }}"
    owner: "{{ open_cinema.user }}"
    group: "{{ open_cinema.group }}"
    recurse: yes
  when: open_cinema.install_from_local is defined and open_cinema.install_from_local

- name: Create Python virtual environment
  ansible.builtin.command:
    cmd: python{{ open_cinema.python_version }} -m venv {{ open_cinema.venv_path }}
    creates: "{{ open_cinema.venv_path }}/bin/python"
  become_user: "{{ open_cinema.user }}"

- name: Upgrade pip in virtual environment
  ansible.builtin.pip:
    name: pip
    state: latest
    virtualenv: "{{ open_cinema.venv_path }}"
  become_user: "{{ open_cinema.user }}"

- name: Install Python dependencies
  ansible.builtin.pip:
    requirements: "{{ open_cinema.app_path }}/requirements.txt"
    virtualenv: "{{ open_cinema.venv_path }}"
  become_user: "{{ open_cinema.user }}"
  notify: Restart open-cinema

- name: Install Gunicorn
  ansible.builtin.pip:
    name: gunicorn
    virtualenv: "{{ open_cinema.venv_path }}"
  become_user: "{{ open_cinema.user }}"

- name: Create Django environment file
  ansible.builtin.template:
    src: env.j2
    dest: "{{ open_cinema.app_path }}/.env"
    owner: "{{ open_cinema.user }}"
    group: "{{ open_cinema.group }}"
    mode: '0600'
  notify: Restart open-cinema

- name: Run Django migrations
  ansible.builtin.command:
    cmd: "{{ open_cinema.venv_path }}/bin/python manage.py migrate --noinput"
    chdir: "{{ open_cinema.app_path }}"
  become_user: "{{ open_cinema.user }}"
  environment:
    DJANGO_SETTINGS_MODULE: "opencinema.settings"

- name: Collect static files
  ansible.builtin.command:
    cmd: "{{ open_cinema.venv_path }}/bin/python manage.py collectstatic --noinput"
    chdir: "{{ open_cinema.app_path }}"
  become_user: "{{ open_cinema.user }}"
  environment:
    DJANGO_SETTINGS_MODULE: "opencinema.settings"
  failed_when: false

- name: Install Gunicorn systemd service
  ansible.builtin.template:
    src: gunicorn.service.j2
    dest: /etc/systemd/system/open-cinema.service
    mode: '0644'
  notify: Restart open-cinema

- name: Enable and start Open Cinema service
  ansible.builtin.systemd:
    name: open-cinema
    enabled: true
    state: started
    daemon_reload: true
